#menu {
	height: 4rem;
	overflow: hidden;
	display: flex;
}
#menu.more {
	height: auto;
}
#menu > .flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	flex-grow: 1;
	position: relative;
}
#menu > .flex > a, #menu > div#more > a {
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 4rem;
	flex: 1;
	text-align: center;
	padding: 0 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
#menu > div#more > a > span {
    line-height: 4rem;
}
#menu > div#more {
	display: none;
}
#menu > div#more.overflowed {
	display: block;
}
#menu > .flex > a > span, #dashboard > menu > div#more > a > span {
	line-height: 4rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
	overflow: hidden;
}
#dashboard > menu > .flex > a.active {
	border-bottom: 3px solid #9D2053;
}
#dashboard > menu > .flex > a.overflow {
	order: 1;
}
#pages > div {
	display: none;
}
#pages > div:target {
	display: block;
}
#pages > div:after {
	content: "";
    display: table;
    clear: both;
}
#pages table {
    border-collapse: collapse;
    width: 100%;
}

#pages th, #pages td {
    text-align: left;
    padding: 8px;
}

#pages tr:nth-child(even){
    background-color: #e6e6e6;
}

#pages th {
    background-color: #571B3C !important;
    color: white;
}
#pages h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#pages h5 {
    font-size: 1.3rem;
    font-weight: 900;
}
#pages table select {
    width: auto !important;
    display: inline-block;
    margin-bottom: 0;
}